:root{
  --bg:#001219;
  --text:white;
  --primary:#005f73;
  --secondary:#ee9b00;
  --soft:#94d2bd;
  --white-soft:#e9d8a6;
  --important:#ae2012;
  --pure-primary:#008cff;
  --gradient:radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0, 8, 120, 0.334) 0%, rgba(95, 183, 224, 0.095) 99.7% );
}

::-webkit-scrollbar{
  background-color: #001219;
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: #ee9b00;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  
  background-color: var(--bg);
  color: var(--text);
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
.container{
/*   width: 1536px; */
 /*  margin:auto; */
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  
  
}
@media screen and (max-width:900px){
  .container{
    min-height: calc(100vh - 17px);
  }
}