.heroContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    
}
.heroText{
    animation: hero 5s alternate;
}
.heroText h1{
    font-size: 90px;
    background: url('https://img.freepik.com/free-vector/vector-abstract-big-data-visualization-colorful-data-flow-as-binary-numbers-strings-computer-code-representation-cryptographic-analysis-hacking-bitcoin-blockchain-transfer-program-code-pattern_1217-2477.jpg?w=1060&t=st=1704317340~exp=1704317940~hmac=005ccffb3dec6570566ce9cbd45d187f5d4c1371a850f54250e1b74de82d2d2e');
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text; 
}
.heroText h2{
    color:var(--important);
    margin-bottom: 1rem;
    opacity: 0.6;
}
.heroText span{
    color:var(--soft);
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.heroText span a{
    color:var(--secondary);
    font-size: 24px;
    text-decoration: underline;
 

}
.imgContainer img{
    animation: mero 5s alternate;
}
@keyframes hero{
    from{
        transform: translateX(-800px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes mero{
    from{
        transform: translateX(800px);
    }
    to{
        transform: translateX(0);
    }
}
@media screen and (max-width:900px){
    .heroContainer{
        flex-direction: column-reverse;
        text-align: center;
       
        
    }
    .heroText{
        padding-top: 1rem;
    }
   .heroText h1{
    font-size: 50px;
   
   }
   .heroText h2{
    font-size: 16px;
   
   }
   .heroText span{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
   }
}